<div class="user_heading">
  <div class="userimage">
    <% if @user.image.nil?  %>
      <%= image_tag("defaulticon.jpg", :class => 'usericon') %>
    <%else%>
      <%= image_tag(@user.image, :class => 'usericon') %>
    <% end %>
  </div>
  <h1>Your Profile</h1>
</div>



<%= form_for @user do |f| %>

  <fieldset>
    <div class="label"><%= f.label :firstname %></div>
    <%= f.text_field :firstname %>
  </fieldset>
  <fieldset>
    <div class="label"><%= f.label :email %></div>
    <%=  f.text_field :email %>
  </fieldset>
  <fieldset>
    <div class="label"><%= f.label :mobile %></div>
    <%=  f.text_field :mobile, :placeholder => '0400 777 000' %>
  </fieldset>
  <fieldset>
    <div class="label"><%= f.label :new_password %></div>
    <%=  f.password_field :password%>
  </fieldset>
  <fieldset>
    <div class="label"><%= f.label :password_confirmation, :require => true %></div>
    <%=  f.password_field :password%>
  </fieldset>
  <fieldset>
    <div class="label"><%= f.label :image %></div>
    <%=  f.url_field :image %>
  </fieldset>

  <fieldset class="submit">
    <%= f.submit %>
  </fieldset>

<% end %>
