<div class="usershow cf">

  <div class="userinfo cf">
    <div class="userimage cf">
      <% if @user.image.nil?  %>
        <%= image_tag("defaulticon.jpg", :class => 'usericon') %>
      <%else%>
        <%= image_tag(@user.image, :class => 'usericon') %>
      <% end %>
    </div>
    <div class="userdetails cf">
      <p><span class="bold_darkorange">Email / Call <%= @user.firstname %> to organize pickup</span> </p>
      <p><span class="bold-orange">contact:  </span><%= @user.email %></p>
      <p><span class="bold-orange">mobile: </span><%= @user.mobile %></p>
    </div>
    <button class="create_new_review cf">
      Add a review for <%= link_to @user.firstname, new_user_review_path(@user)%>
    </button>
  </div>

  <div class="all_reviews cf">
    <h3><span class="bold_darkorange"><%= @user.firstname %>'s Reviews</span></h3>
        <br>
    <% @user.reviews.each do |review| %>
      <div class="individual_reviews">
        <span class="rating"><%= review.rating %> / 10 :</span>
        <span class="review_comments"><%= review.comments %></span>
        <br>
        <br>
        <div class="light-orange">
          posted by: <%= link_to review.reviewer.firstname, review.reviewer %>
        </div>
      </div>
    <% end %>
  </div>

</div>
