<h1><%= @post.title %></h1>

<div class="show">
  <%= image_tag(@post.image, :class => 'feature') %>
  <ul>
    <li><%= @post.description %></li>
    <br>
    <br>
    <li><b>Location: </b><%= @post.location %></li>
    <li><b>vegetarian: </b><%= @post.vegetarian %></li>
    <li><b>Portions: </b><%= @post.portion %></li>
    <li><b>Posted by: </b><%= link_to @post.user.firstname, user_path(@post.user) %></li>
  </ul>

  <div class="controls">
    <%= link_to 'Delete Post', @post, :method => :delete, :class => 'edit'%>
    <%= link_to 'Edit Post', edit_post_path(@post), :class => 'edit' %>
  </div>
</div>
