<h1>Create a new review for <%= @user.firstname %> </h1>

<div class="write_review">
  <%= form_for ([@user, @review]), html: {multipart: true} do |f| %>
  <fieldset>
    <div><strong>Ratings from 1 - 10:</strong>
      <br> 1 = disgusting, 10 = suscrumptious!!</div>
    <br>
    <div class="label"><%= f.label :rating %></div>
    <%= f.number_field :rating %>
  </fieldset>
  <fieldset>
    <div class="label"><%= f.label :comments %></div>
    <%= f.text_field :comments %>
  </fieldset>
  <fieldset>
    <%= f.submit %>
  </fieldset>

<% end %>
</div>
